@font-face {
    font-family: Montserrat-regular;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Montserrat/montserrat-regular.ttf'),
        url('../fonts/Montserrat/montserrat-regular.woff'),
        url('../fonts/Montserrat/montserrat-regular.woff2');
}

@font-face {
    font-family: Montserrat-light;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Montserrat/montserrat-light.ttf'),
        url('../fonts/Montserrat/montserrat-light.woff'),
        url('../fonts/Montserrat/montserrat-light.woff2');
}

@font-face {
    font-family: Montserra-extralight;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/Montserrat/montserrat-extralight.ttf'),
        url('../fonts/Montserrat/montserrat-extralight.woff'),
        url('../fonts/Montserrat/montserrat-extralight.woff2');
}

@font-face {
    font-family: Raleway-regular;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Raleway/raleway-regular.ttf'),
        url('../fonts/Raleway/raleway-regular.woff'),
        url('../fonts/Raleway/raleway-regular.woff2');
}

@font-face {
    font-family: Raleway-medium;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Raleway/raleway-medium.ttf'),
        url('../fonts/Raleway/raleway-medium.woff'),
        url('../fonts/Raleway/raleway-medium.woff2')
}

@font-face {
    font-family: Raleway-semibold;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Raleway/raleway-semibold.ttf'),
        url('../fonts/Raleway/raleway-semibold.woff'),
        url('../fonts/Raleway/raleway-semibold.woff2')
}

@font-face {
    font-family: Raleway-bold;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Raleway/raleway-bold.ttf'),
        url('../fonts/Raleway/raleway-bold.woff'),
        url('../fonts/Raleway/raleway-bold.woff2')
}

@font-face {
    font-family: Raleway-extrabold;
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/Raleway/raleway-extrabold.ttf'),
        url('../fonts/Raleway/raleway-extrabold.woff'),
        url('../fonts/Raleway/raleway-extrabold.woff2')
}

@font-face {
    font-family: Roboto-regular;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto/roboto-regular.ttf'),
        url('../fonts/Roboto/roboto-regular.woff'),
        url('../fonts/Roboto/roboto-regular.woff2')
}

.container {
    width: 1920px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    min-height: 1024px;
    box-sizing: border-box;
    background: url('../img/slider_photo.jpg') center no-repeat #555555;
    background-size: cover;
    padding: 40px 0 40px 0;
}

.header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.header-navbar-wrapper {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 374px 0 374px;
    flex-wrap: wrap;
}

.header-logo {
    width: 185px;
    display: flex;
    margin: 0 auto 0 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-logo-title {
    display: block;
    margin: 0;
    position: relative;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: #fff;
    font-family: Raleway-regular;
}

.header-logo-img {
    fill: #fff;
}

.header-logo:hover .header-logo-img {
    fill: #a48d72;
}

.header-logo:hover .header-logo-title {
    color: #a48d72;
}

.header-logo:active .header-logo-img {
    fill: #fff;
}

.header-logo:active .header-logo-title {
    color: #fff;
}

.header-menu {
    font-size: 0;
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header-menu-items {
    padding: 0 30px 0 0px;
    display: inline-block;
}

.header-menu-link {
    font-family: Montserrat-light;
    font-size: 14px;
    line-height: 1.2;
    color: #ffffff;
}

.header-menu-link:hover {
    color: #a48d72;
}

.header-menu-link:active {
    color: #fff;
}

.header-cart {
    width: 18px;
    height: 24px;
    background: url('../img/icon_cart.svg') center no-repeat;
    background-size: cover;
    border: none;
    padding: 0;
    margin: 0 24px 0 30px;
}

.header-cart:hover,
.header-search-icon:hover {
    box-shadow: 0px 0px 10px 5px #a48d72;
    border-radius: 8px;
    background-color: #a48d72;
    transition: 0.5s;
}

.header-search-icon {
    width: 24px;
    height: 24px;
    border: none;
    color: transparent;
    cursor: pointer;
    background: url('../img/icon_search.svg') right no-repeat;
    background-size: contain;
    transition: .5s;
}

.header-search-icon:focus {
    width: 130px;
    padding: 0 0 0 10px;
    color: #000;
    background-color: #d3c1ad;
    cursor: auto;
    outline: none;
}

.slider {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 265px 0 0 0;
}

.slider:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.slogan {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 335px 0;
    position: relative;
}

.slider-slogan-title {
    display: block;
    font-size: 36px;
    line-height: 1.2;
    color: #ffffff;
    text-align: center;
    font-family: Raleway-medium;
}

.slider-slogan-title-2 {
    display: block;
    font-size: 52px;
    line-height: 1.2;
    color: #ffffff;
    text-align: center;
    font-family: Raleway-extrabold;
}

.slider-slogan-txt {
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    padding: 0 680px 0 680px;
    margin: 0 0 50px 0;
    font-family: Montserrat-light;
}

.slider-btn {
    display: block;
    width: 170px;
    padding: 20px 0 20px 0;
    box-sizing: border-box;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #a48d72;
    font-family: Raleway-extrabold;
}

.slider-btn:hover {
    color: #a48d72;
    background-color: #fff;
}

.slider-btn:active {
    color: #ffffff;
    background-color: #a48d72;
}

.slider-btn-txt {
    margin: auto;
}

.arrows {
    width: 48px;
    height: 48px;
}

.prev {
    border-bottom: 3px solid #8c8c8c;
    border-left: 3px solid #8c8c8c;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 150px;
}

.next {
    border-bottom: 3px solid #8c8c8c;
    border-left: 3px solid #8c8c8c;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    position: absolute;
    right: 150px;
}

.next:hover,
.prev:hover {
    border-bottom: 3px solid #a48d72;
    border-left: 3px solid #a48d72;
}

.next:active,
.prev:active {
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
}

.slider-pagination {
    width: 100%;
    text-align: center;
}

.slider-pagination-circle {
    display: inline-block;
    box-sizing: border-box;
    width: 12px;
    min-height: 12px;
    background-color: #9299a9;
    border-radius: 50%;
    margin: 0 5px 0 0;
    border: 1px solid transparent;
}

.slider-pagination-circle:hover {
    background-color: transparent;
    border: 1px solid #a48d72;
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.services {
    width: 100%;
    box-sizing: border-box;
    padding: 80px 374px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.services:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.services-card {
    width: 256px;
    padding: 78px 0 0 0;
    box-sizing: border-box;
    text-align: center;
}

.services-card:after {
    content: "";
    display: block;
    width: 70px;
    min-height: 3px;
    background-color: #f1eee9;
    margin: 0 auto;
}

.services-img {
    margin: 0 0 29px 0;
    fill: #555555;
}

.services-title {
    display: block;
    font-size: 22px;
    line-height: 1.2;
    color: #555555;
    text-align: center;
    margin: 0 0 19px 0;
    font-family: Raleway-semibold;
}

.services-txt {
    font-family: Montserrat-light;
    font-size: 14px;
    line-height: 24px;
    color: #8c8c8c;
    text-align: center;
    margin: 0 0 30px 0;
}

.development {
    margin: 0 34px 0 34px;
}

.customization {
    margin: 0 34px 0 0;
}

.services-card:hover .services-img {
    fill: #c7b299;
}

.services-card:hover .services-title {
    color: #c7b299;
}

.services-card:hover:after {
    background-color: #c7b299;
}

.waxom-realization {
    width: 100%;
    box-sizing: border-box;
    display: block;
    position: relative;
    padding: 83px 344px 501px 344px;
    margin: 0;
    background: #fbfaf8;
}

.waxom-realization:after {
    content: "";
    display: block;
    clear: both;
    width: 100%;
}

.waxom-realization-title {
    display: block;
    text-align: center;
    font-family: Raleway-semibold;
    font-size: 30px;
    line-height: 1.2;
    color: #555555;
    margin: 0 0 24px 0;
}

.waxom-realization-txt {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 757px;
    font-family: Montserrat-light;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
}


.waxom-realization-img_1 {
    position: absolute;
    left: 346px;
    top: 300px;
    z-index: 99;
    transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, transform 1s;
    transition: opacity 1s, transform 1s, -webkit-transform 1s;
}

.waxom-realization-img_2 {
    position: absolute;
    left: 576px;
    top: 218px;
    z-index: 100;
    transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, transform 1s;
    transition: opacity 1s, transform 1s, -webkit-transform 1s;
}

.waxom-realization-img_3 {
    position: absolute;
    left: 806px;
    top: 300px;
    z-index: 99;
    transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, transform 1s;
    transition: opacity 1s, transform 1s, -webkit-transform 1s;
}

.waxom-realization-img_1:hover {
    z-index: 101;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}

.waxom-realization-img_2:hover {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}

.waxom-realization-img_3:hover {
    z-index: 101;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}

.purchase {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 48px 374px;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    background: #1a1514;
    background: -webkit-gradient(left top, right top, color-stop(0%, #1a1514), color-stop(14%, #1a1514), color-stop(46%, #36251b), color-stop(61%, #3e2a1e), color-stop(76%, #3e2a1e), color-stop(100%, #3e2a1e));
    background: linear-gradient(to right, #1a1514 0%, #1a1514 14%, #36251b 46%, #3e2a1e 61%, #3e2a1e 76%, #3e2a1e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a1514', endColorstr='#3e2a1e', GradientType=1);
}

.purchase-title {
    box-sizing: border-box;
    text-align: left;
    font-family: Raleway-regular;
    font-size: 28px;
    line-height: 1.2;
    color: #fff;
}

.purchase-title_2 {
    color: #c7b299;
}

.purchase-txt {
    text-align: left;
    font-family: Montserrat-light;
    font-size: 18px;
    line-height: 1.2;
    color: #615855;
    margin: 0;
}

.purchase-btn {
    display: block;
    width: 170px;
    padding: 19px 0 20px 0;
    box-sizing: border-box;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    background-color: #a48d72;
}

.purchase-btn-txt {
    font-family: Raleway-extrabold;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
}

.purchase-btn:hover {
    color: #a48d72;
    background-color: #fff;
}

.purchase-btn:active {
    color: #ffffff;
    background-color: #a48d72;
}

.latest-projects {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 80px 374px;
}

.latest-projects:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.latest-projects-title {
    display: block;
    text-align: center;
    margin: 0 0 24px 0;
    font-family: Raleway-semibold;
    font-size: 30px;
    line-height: 1.2;
    color: #555555;
}

.project-latest-txt {
    display: block;
    width: 757px;
    text-align: center;
    margin: 0 auto 40px auto;
    font-family: Montserrat-light;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
}

.latest-project-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 40px 0;
}

.latest-project-menu-btn {
    display: block;
    padding: 8px 24px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    margin: 0 5px;
    background: #fff;
    font-family: Montserrat-light;
    font-size: 14px;
    line-height: 21px;
    color: #8c8c8c;
    outline: none;
}

.latest-project-menu-btn:hover {
    cursor: pointer;
    background: #a48d72;
    color: #fff;
}

.latest-project-menu-btn:active {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.latest-product-card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.latest-product-card {
    display: block;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

.latest-product-card-img {
    width: 370px;
    min-height: 237px;
    margin: 0;
    display: block;
}

.latest-product-link {
    position: absolute;
    top: 105px;
    left: 144px;
    visibility: hidden;
    z-index: 10;
}

.latest-product-loupe {
    position: absolute;
    top: 105px;
    left: 198px;
    visibility: hidden;
    z-index: 10;
}

.latest-product-card:after {
    content: "";
    display: none;
    width: 370px;
    min-height: 345px;
    position: absolute;
    top: 0px;
}

.latest-product-card:hover:after {
    display: block;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.latest-product-card:hover .latest-product-link,
.latest-product-card:hover .latest-product-loupe {
    visibility: visible;
}

.latest-product-card-desc {
    width: 370px;
    margin: 0 0 40px 0;
    padding: 30px 0 30px 30px;
    background: #fbfaf8;
    position: relative;
    box-sizing: border-box;
}

.latest-product-card-desc:after {
    content: "";
    position: absolute;
    left: 25px;
    top: -25px;
    border: 15px solid transparent;
    border-bottom: 10px solid #fbfaf8;
}

.latest-product-title {
    font-family: Raleway-medium;
    font-size: 20px;
    line-height: 1.2;
    color: #c7b299;
}

.latest-product-card:hover .latest-product-card-desc {
    background-color: #362f2d;
}

.latest-product-card:hover .latest-product-card-desc:after {
    border-bottom: 10px solid #362f2d;
}

.latest-product-card:hover .latest-product-title {
    color: #ffffff;
}

.latest-product-card:hover .latest-product-txt {
    color: #c7b299;
}

.latest-product-txt {
    margin: 5px 0 0 0;
    display: block;
    font-family: Montserrat-light;
    font-size: 14px;
    line-height: 20px;
    color: #d1d1d1;
}

.latest-product-btn {
    display: block;
    box-sizing: border-box;
    width: 170px;
    padding: 19px 24px;
    background-color: #998675;
    border-radius: 3.0px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

.latest-product-btn-txt {
    font-family: Raleway-extrabold;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
}

.latest-product-btn:hover {
    color: #a48d72;
    background-color: #fff;
    outline: 1px solid #a48d72;
}

.latest-product-btn:active {
    background-color: #998675;
    color: #fff;
}

.video-presentation {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

.video-presentation:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.video-presentation-vid {
    width: 1920px;
    height: 705px;
}

.video-presentation-play {
    width: 100px;
    height: 100px;
    background: url('../img/video_presentation_play.svg') center no-repeat rgba(0, 0, 0, 0.2);
    background-size: 76px 76px;
    border-radius: 50%;
    outline: none;
    border: none;
    position: absolute;
    top: 211px;
    left: 911px;
    padding: 0;
}

.video-presentation-play-icon {
    fill: #fff;
}

.video-presentation-play:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.video-presentation-play:active {
    background-color: rgba(0, 0, 0, 0.2);
}

.video-presentation-desc {
    display: block;
    text-align: center;
    position: absolute;
    top: 354px;
    left: 685px;
}

.video-presentation-title {
    display: block;
    font-family: Raleway-medium;
    font-size: 30px;
    line-height: 1.2;
    color: #ffffff;
}

.video-presentation-txt {
    display: block;
    width: 552px;
    font-family: Montserrat-light;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
}

.video-presentation-time {
    display: block;
    font-family: Montserrat-regular;
    font-size: 14px;
    line-height: 24px;
    color: #c7b299;
}

.waxom-mobile {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 80px 390px 170px 422px;
    background: url('../img/waxom_mobile_img.png') 422px 80px no-repeat #fbfaf8;
    background-size: 423px 616px;
}

.waxom-mobile:after {
    display: block;
    content: "";
    width: 100%;
    clear: both;
}

.waxom-mobile-desc {
    float: right;
    display: block;
    box-sizing: border-box;
    padding: 116px 0 0 0;
}

.waxom-mobile-title {
    display: block;
    font-family: Raleway-semibold;
    font-size: 30px;
    line-height: 1.2;
    color: #555555;
}

.waxom-mobile-txt {
    display: block;
    width: 657px;
    font-family: Montserrat-light;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
    margin: 35px 0;
}

.waxom-mobile-list {
    display: block;
    list-style: none;
    margin: 0 0 0 79px;
    padding: 0;
}

.waxom-mobile-list-item {
    font-family: Montserrat-light;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
    position: relative;
}

.waxom-mobile-list-item:before {
    content: "";
    display: block;
    position: absolute;
    width: 21px;
    height: 21px;
    background: url('../img/waxom_mobile_list_marker.jpg') center no-repeat;
    background-size: cover;
    top: 3px;
    left: -50px;
}

.counters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 143px 500px 60px 500px;
    background: #1a1514;
    background: -webkit-gradient(left top, right top, color-stop(0%, #1a1514), color-stop(14%, #1a1514), color-stop(46%, #36251b), color-stop(61%, #3e2a1e), color-stop(76%, #3e2a1e), color-stop(100%, #3e2a1e));
    background: linear-gradient(to right, #1a1514 0%, #1a1514 14%, #36251b 46%, #3e2a1e 61%, #3e2a1e 76%, #3e2a1e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a1514', endColorstr='#3e2a1e', GradientType=1);
}

.counters-cards {
    display: block;
    width: 136px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}

.counters-clients:before {
    content: "";
    display: block;
    position: absolute;
    background: url('../img/counters_cards_icon.svg') center no-repeat;
    background-size: cover;
    width: 44px;
    height: 44px;
    top: -73px;
    left: 45px;
}

.counters-coffee:before {
    content: "";
    display: block;
    position: absolute;
    background: url('../img/waxom_counters_coffee.svg') center no-repeat;
    background-size: cover;
    width: 44px;
    height: 44px;
    top: -73px;
    left: 45px;
}

.counters-posts:before {
    content: "";
    display: block;
    position: absolute;
    background: url('../img/waxom_counters_posts.svg') center no-repeat;
    background-size: cover;
    width: 44px;
    height: 44px;
    top: -73px;
    left: 45px;
}

.counters-likes:before {
    content: "";
    display: block;
    position: absolute;
    background: url('../img/waxom_counters_likes.svg') center no-repeat;
    background-size: cover;
    width: 44px;
    height: 44px;
    top: -73px;
    left: 45px;
}

.counters-launched:before {
    content: "";
    display: block;
    position: absolute;
    background: url('../img/waxom_counters_launched.svg') center no-repeat;
    background-size: cover;
    width: 54px;
    height: 44px;
    top: -73px;
    left: 40px;
}

.counters-cards:after {
    content: "";
    display: block;
    min-height: 2px;
    width: 30px;
    margin: 0 auto;
    background: #fff;
}

.waxom-counters-number {
    font-family: Montserra-extralight;
    font-size: 48px;
    line-height: 36px;
    color: #ffffff;
}

.waxom-counters-txt {
    display: block;
    font-family: Montserrat-light;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #c7b299;
    margin: 20px 0 30px 0;
}

.recent-posts {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 80px 374px;
}

.recent-posts {
    display: block;
    content: "";
    width: 100%;
    clear: both;
}

.recent-posts-title {
    display: block;
    font-family: Raleway-semibold;
    font-size: 30px;
    line-height: 1.2;
    color: #555555;
    text-align: center;
    margin: 0;
}

.recent-posts-txt {
    display: block;
    width: 757px;
    font-family: Montserrat-light;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
    text-align: center;
    margin: 30px auto 40px auto;
}

.recent-posts-cards-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 40px 0;
}

.recent-posts-card {
    margin: 0;
    border: 1.0px solid #f8f8f8;
    position: relative;
}

.recent-posts-cards-wrapper>.recent-posts-card:nth-child(2) {
    margin: 0 30px;
}

.recent-posts-card-img {
    display: block;
    position: relative;
}

.recent-posts-desc {
    display: block;
    box-sizing: border-box;
    padding: 30px;
}

.recent-posts-card-title {
    font-family: Raleway-medium;
    font-size: 20px;
    line-height: 1.2;
    color: #555555;
}

.recent-posts-card-txt {
    font-family: Montserrat-light;
    font-size: 14px;
    line-height: 22px;
    color: #8c8c8c;
}

.recent-posts-card-link {
    font-family: Montserrat-light;
    font-size: 14px;
    line-height: 20px;
    color: #c7b299;
    position: relative;
    z-index: 10;
}

.recent-posts-card-link:after {
    content: '';
    position: absolute;
    left: 82px;
    top: 6px;
    border: 4px solid transparent;
    border-left: 6px solid #c7b299;
}

.recent-posts-card-link:hover {
    color: #998675;
}

.recent-posts-card-link:hover:after {
    border-left: 6px solid #998675;
}

.recent-posts-card-link:active {
    color: #c7b299;
}

.recent-posts-card-link:active:after {
    border-left: 6px solid #c7b299;
}

.recent-posts-date {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.recent-posts-date-day {
    display: block;
    font-family: Montserrat-light;
    font-size: 24px;
    line-height: 20px;
    color: #ffffff;
    background-color: #363636;
    border-radius: 3.0px 3.0px 0.0px 0.0px;
    padding: 10px;
}

.recent-posts-date-month {
    display: block;
    font-family: Roboto-regular;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    background-color: #252525;
    border-radius: 0.0px 0.0px 3.0px 3.0px;
    padding: 7px 13px;
}

.recent-posts-card:after {
    content: "";
    display: none;
    width: 370px;
    min-height: 397px;
    position: absolute;
    top: 0px;
}

.recent-posts-card:hover:after {
    display: block;
    background: rgba(0, 0, 0, 0.2);
}

.recent-posts-card:hover .recent-posts-desc {
    background: #453d3b;
}

.recent-posts-card:hover .recent-posts-card-title {
    color: #c7b299;
}

.recent-posts-card:hover .recent-posts-card-txt {
    color: #fff;
}

.recent-posts-card:hover .recent-posts-date-day {
    background-color: #c7b299;
}

.recent-posts-card:hover .recent-posts-date-month {
    background-color: #a48d72;
}

.recent-posts-btn-wrapper {
    width: 100%;
    text-align: center;
}

.recent-posts-btn-prev {
    border: none;
    outline: none;
    background: transparent;
    margin: 0 4px;
    padding: 0;
}

.recent-posts-btn-next {
    border: none;
    outline: none;
    background: transparent;
    margin: 0 4px;
    padding: 0;
}

.recent-posts-btn-prev-icon,
.recent-posts-btn-next-icon {
    fill: #d1d1d1;
}

.recent-posts-btn-prev:hover .recent-posts-btn-prev-icon,
.recent-posts-btn-next:hover .recent-posts-btn-next-icon {
    fill: #c7b299;
    cursor: pointer;
}

.recent-posts-btn-prev:active .recent-posts-btn-prev-icon:active,
.recent-posts-btn-next:active .recent-posts-btn-next-icon {
    fill: #d1d1d1;
}

.partners {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background: url('../img/partners_bcg_img.jpg') center no-repeat;
    background-size: cover;
    padding: 140px 405px;
}

.partners:after {
    display: block;
    content: "";
    width: 100%;
    clear: both;
}

.partners-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.partners-links:hover .partners-img {
    -webkit-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02);
}

.footer {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 80px 0 0 0;
    background-color: #191919;

}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0 374px 80px 374px;
}

.about {
    display: block;
    box-sizing: border-box;
}

.footer-logo {
    width: 185px;
    display: flex;
    margin: 0 auto 0 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-logo-img {
    fill: #fff;
}

.footer-logo-title {
    font-family: Raleway-regular;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: #ffffff;
}

.footer-about-txt {
    display: block;
    width: 258px;
    font-family: Montserrat-light;
    font-size: 14px;
    line-height: 24px;
    color: #555555;
    margin: 30px 0;
}

.footer-about-link {
    font-family: Montserrat-regular;
    font-size: 14px;
    line-height: 20px;
    color: #d1d1d1;
    position: relative;
    margin: 0;
}

.footer-about-link:after {
    content: '';
    position: absolute;
    left: 82px;
    top: 6px;
    border: 4px solid transparent;
    border-left: 6px solid #d1d1d1;
}

.footer-logo:hover .footer-logo-img {
    fill: #a48d72;
}

.footer-logo:hover .footer-logo-title {
    color: #a48d72;
}

.footer-logo:active .footer-logo-img {
    fill: #fff;
}

.footer-logo:active .footer-logo-title {
    color: #fff;
}

.footer-about-link:hover {
    color: #998675;
}

.footer-about-link:hover:after {
    border-left: 6px solid #998675;
}

.footer-about-link:active {
    color: #c7b299;
}

.footer-about-link:active:after {
    border-left: 6px solid #c7b299;
}

.footer-recent {
    display: block;
    box-sizing: border-box;
}

.footer-recent-title {
    display: block;
    font-family: Raleway-bold;
    font-size: 24px;
    line-height: 1.2;
    color: #ffffff;
    margin: 0 0 30px 0;
    padding: 20px 0 0 0;
}

.footer-recent-posts {
    display: block;
    box-sizing: border-box;
    width: 270px;
    border-bottom: 2px solid #252525;
    padding: 0 0 21px 0;
}

.footer-recent-posts:nth-child(4) {
    border: none;
}

.footer-recent-posts:nth-child(3) {
    margin: 19px 0 21px 0;
}

.footer-recent-posts-date {
    font-family: Montserrat-light;
    font-size: 12px;
    line-height: 20px;
    color: #363636;
    display: block;
}

.footer-recent-posts-txt {
    display: block;
    font-family: Montserrat-light;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
}

.footer-recent-posts:hover .footer-recent-posts-date {
    color: #fff;
}

.footer-recent-posts:hover .footer-recent-posts-txt {
    color: #c7b299;
}

.twitter {
    display: block;
    box-sizing: border-box;
}

.twitter-title {
    font-family: Raleway-bold;
    display: block;
    font-size: 24px;
    line-height: 1.2;
    color: #ffffff;
    padding: 20px 0 0 0;
    margin: 0 0 30px 0;
}

.twitter-posts {
    display: block;
    width: 270px;
    box-sizing: border-box;
    border-bottom: 2px solid #252525;
    padding: 0 0 21px 0;
}

.twitter-posts:nth-child(4) {
    border: none;
}

.twitter-posts:nth-child(3) {
    margin: 19px 0 21px 0;
}

.twitter-txt {
    display: block;
    font-family: Montserrat-light;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
}

.twitter-link {
    color: #00bff3;
}

.twitter-hashtag {
    color: #00bff3;
}

.twitter-link2 {
    color: #959595;
}

.twitter-time {
    font-family: Montserrat-light;
    font-size: 12px;
    line-height: 20px;
    color: #363636;
    display: block;
}

.footer-widget {
    display: block;
    box-sizing: border-box;
    width: 270px;
}

.footer-widget-title {
    font-family: Raleway-bold;
    font-size: 24px;
    display: block;
    line-height: 1.2;
    color: #ffffff;
    padding: 20px 0 0 0;
    margin: 0 0 30px 0;
}

.footer-widget-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.footer-widget-img:nth-child(1),
.footer-widget-img:nth-child(2) {
    margin: 0 0 10px 0;
}

.footer-widget-img:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    background-color: #111111;
    padding: 45px 374px 52px 374px;
}

.footer-copyright-2015 {
    font-family: Montserrat-light;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
}

.footer-copyright-2015-waxom {
    color: #959595;
    border-right: 1px solid #252525;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
}

.footer-copyright-2015-faq {
    color: #c7b299;
    padding: 0 10px;
    border-right: 1px solid #252525;
    border-left: 1px solid #252525;
    margin: 0 10px;
}

.footer-copyright-designed {
    font-family: Montserrat-light;
    font-size: 13px;
    line-height: 20px;
    color: #555555;
}

.footer-copyright-designed-themefire {
    color: #959595;
    border-right: 1px solid #252525;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
}

.footer-copyright-designed-envanto {
    color: #959595;
}

.burger {
    display: none;
}

.menu-toggle {
    display: block;
    position: relative;
    top: 9px;
    left: -5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-toggle input {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
    -webkit-touch-callout: none;
}

.menu-toggle span {
    display: block;
    width: 40px;
    height: 4px;
    z-index: 1;
    border-radius: 4px;
    position: relative;
    background: #fff;
    margin-bottom: 7px;
    -webkit-transform-origin: 4px 0px;
    transform-origin: 4px 0px;
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease,
        -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease,
        -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.menu-toggle span:first-child {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    transition: width, 0.5s;
}


.menu-toggle span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    width: 40px;
    transition: width, 0.5s;
}

.menu-toggle input:checked~span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(0px, 0px);
    transform: rotate(45deg) translate(0px, 0px);
    background: #fff;
    width: 36px;
    transition: width, 0.5s;
}

.menu-toggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
    transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-toggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    -webkit-transform: rotate(-45deg) translate(0, 0px);
    transform: rotate(-45deg) translate(0, 0px);
    width: 36px;
}

.burger-menu-elem {
    display: none;
    position: absolute;
    width: 400px;
    height: 100vh;
    margin: -100px 0 0 -60px;
    padding: 50px;
    padding-top: 125px;
    background: #1a1514;
    list-style-type: none;
    -webkit-transform: translate(-100%, 0%);
    transform: translate(-100%, 0%);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.burger-menu-links {
    font-family: Montserrat-light;
    font-size: 14px;
    line-height: 1.2;
    color: #ffffff;
}

.menu-toggle input:checked~ul {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
    opacity: 1;
}

.burger-menu-elem li {
    padding: 10px 0;
    font-size: 30px;
}

@media (max-width: 480px) {
    .container{
        width: 440px;
    }
    .header {
        width: 440px;
        min-height: 150px;
    }

    .header-navbar-wrapper {
        padding: 0 50px;
    }

    .header-logo {
        float: left;
    }

    .burger {
        display: block;
    }

    .header-menu,
    .header-cart,
    .header-search,
    .slider {
        display: none;
    }

    .services {
        width: 440px;
        padding: 0;
    }

    .services-card {
        padding: 40px 10px 40px 10px;
        width: 400px;
    }

    .development {
        margin: 0;
    }

    .customization {
        margin: 0;
    }

    .waxom-realization {
        display: none;
    }

    .purchase {
        display: none;
    }

    .latest-projects {
        width: 440px;
        padding: 0;
        margin: 0;
    }

    .project-latest-txt {
        width: 400px;
    }

    .latest-project-menu {
        display: none;
    }

    .latest-product-card-wrapper {
        justify-content: center;
    }

    .video-presentation {
        display: none;
    }

    .waxom-mobile {
        background: none;
        width: 440px;
        padding: 0 10px;
    }

    .waxom-mobile-desc {
        float: none;
    }

    .waxom-mobile-txt {
        width: 400px;
    }

    .counters {
        display: none;
    }

    .recent-posts {
        width: 440px;
        padding: 50px 0;
    }
    .recent-posts-txt{
        width: 400px;
    }
    .recent-posts-cards-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .recent-posts-cards-wrapper>.recent-posts-card:nth-child(2) {
        margin: 0;
    }
    .recent-posts-card-txt{
        width: 300px;
    }
    .partners{
        width: 440px;
        background-size: cover;
        padding: 50px 0;
    }
    .partners-wrapper{
        justify-content: center;
    }
    .partners-links:nth-child(1),
    .partners-links:nth-child(3){
        margin: 0 0 0 0;
    }
    .footer{
        width: 440px;
        padding: 0;
    }
    .footer-wrapper{
        display: none;
    }
    .footer-copyright{
        width: 440px;
        padding: 30px 10px;
    }
}